name: Upload Website

on:
  workflow_call:
    inputs:
      bucket_name:
        required: true
        type: string
      aws_region:
        required: true
        type: string

jobs:


  deploy:
    runs-on: ubuntu-latest  
    steps:
    - name: Checkout
      uses: actions/checkout@master

    # Assume AWS Role
    - name: AWS Assume
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{ secrets.AWS_ROLE }}
        role-session-name: GH-AWS-OIDC
        aws-region: ${{ secrets.AWS_REGION }}

    # Sync v1_static directory to S3
    - name: Sync to S3
      run: |
        aws s3 sync v1_static s3://${{ secrets.AWS_S3_BUCKET }} \
          --delete \
          --follow-symlinks
